﻿@using R = MyLaps.Resources.Resources

@model IEnumerable<MyLaps.Model.IEvent>

@{
    if(Model == null || Model.Count() == 0)
    {
        <p>
            @R.NoEvents
        </p>
    }
    else
    {

        <ul>
            @foreach(var evt in Model.OrderByDescending(e => e.Date))
            {
                <li>
                    <a href="@Url.Action("Details", "Event", new { id = evt.EventID})">
                        @evt.Name @(evt.Date == default(DateTime) ? "" : " - " + evt.Date.ToLongDateString())
                    </a>
                </li>
            }
        </ul>
    }
}
