﻿@using R = MyLaps.Resources.Resources
@model MyLaps.Model.IEvent

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="row">
        <h1>@Model.Name</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <strong>@R.Date:</strong>
                </div>
                <div class="col-md-4">
                    @Model.Date.ToLongDateString()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>@R.EventLocation:</strong>
                </div>
                <div class="col-md-4">
                    @Model.City, @Model.Country
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>@R.EventType:</strong>
                </div>
                <div class="col-md-4">
                    @Model.Type
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <img style="max-height:300px;" src="@Model.LogoURL" alt="@R.EventLogo" />
        </div>
    </div>
</div>
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#races" data-toggle="tab">@R.Races</a>
        </li>
        <li>
            <a href="#photos" data-toggle="tab">@R.Photos</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="races">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="">
                                @R.Name
                            </th>
                            <th>
                                @R.Distance
                            </th>
                            <th class="text-center">
                                @R.NumberOfParticipants
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var race in Model.Races)
                        {
                            <tr>
                                <td @*class="col-md-3"*@>
                                    @race.Name
                                </td>
                                <td @*class="col-md-2"*@>
                                    @race.Distance meters
                                </td>
                                <td class="text-center">
                                    @*col-md-2*@
                                @race.Classifications.Count()
                            </td>
                            <td>
                                @Html.ActionLink(R.SeeMore, "Details", "Race", new { id = race.RaceID }, null)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="photos">
            <div class="col-md-4 text-center">
                <img class="photos-tab-image" src="@Model.PhotoURL" />
            </div>
            <div class="col-md-4 text-center">
                <img class="photos-tab-image" src="@Model.LogoURL" />
            </div>
            <div class="col-md-4 text-center">
                <img class="photos-tab-image" src="@Model.SponsorURL" />
            </div>
        </div>
    </div>
</div>
