﻿@using R = MyLaps.Resources.Resources

@model MyLaps.Model.IRace
@{
    ViewBag.Title = Model.Name;
    var athletes = Model.Classifications.OrderBy(c => c.Rank);
}
<div class="row">
    <h1>@Model.Name</h1>
    <div class="row" style="padding-top: 20px; padding-bottom:20px; padding-left: 25px;">
        <div class="row">
            <div class="col-md-2">
                <strong>@R.NumberOfParticipants:</strong>
            </div>
            <div class="col-md-2">
                @athletes.Count()
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <strong>@(R.Distance)(m):</strong>
            </div>
            <div class="col-md-2">
                @Model.Distance
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-2 text-center">
                        <strong>@R.Position</strong>
                    </th>
                    <th class="col-md-5 text-center">
                        <strong>@R.BibNumber</strong>
                    </th>
                    <th class="col-md-5 text-right">
                        <strong>@R.TotalTime</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var athlete in athletes)
                {
                    athlete.Splits = athlete.Splits.OrderBy(s => s.Distance);
                <tr onclick="toggleSplit(@athlete.BibNumber)">
                    <td class="col-md-2 text-center">
                        @athlete.Rank
                    </td>
                    <td class="col-md-5 text-center">
                        @athlete.BibNumber
                    </td>
                    <td class="col-md-5 text-right">
                        @athlete.Splits.Last().Time
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        @foreach(var athlete in athletes)
        {
            int idx = 1;
        <div class="row hidden" id="splits@(athlete.BibNumber)">
            <h5>
                @string.Format(R.SplitTimesTitle, athlete.BibNumber)
            </h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @R.SplitNumber
                        </th>
                        <th>
                            @R.Name
                        </th>
                        <th>
                            @R.Distance (m)
                        </th>
                        <th>
                            @R.SplitTime
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var split in athlete.Splits)
                        {
                        <tr>
                            <td>
                                @(idx++)
                            </td>
                            <td>
                                @split.Name
                            </td>
                            <td>
                                @split.Distance
                            </td>
                            <td class="text-right">
                                @split.Time
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
        }
    </div>
</div>
<script type="text/javascript">
    var lastBib = -1;
    function toggleSplit(bibID) {
        console.log('toggleSplit');
        if (lastBib != -1) {
            $('#splits' + lastBib).toggleClass("hidden");
        }
        if (lastBib != bibID){
            $('#splits' + bibID).toggleClass("hidden");
        }
        lastBib = lastBib == bibID ? -1 : bibID;
    }
</script>