﻿@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="row">
    <p>
        This assignment was developed by <a href="mailto:tiagofcmartins@gmail.com">Tiago Francisco Carreira Martins</a>
        for a job application in <a href="https://www.mylaps.com">MyLaps</a> at the 7th of December of 2015.
    </p>
    <p>
        The assignment code is available online, at <a href="https://bitbucket.org/TiagoPT/mylaps-assignment">Bitbucket</a>.
    </p>
</div>