﻿@using R = MyLaps.Resources.Resources

<div class="page-header">
    <h2>@R.Greeting</h2>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="carousel-example-generic" class="carousel slide carousel-slider" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center" role="listbox">
                <div class="item active">
                    <img class="carousel-image text-center" style="padding-top:85px;" src="https://upload.wikimedia.org/wikipedia/en/5/52/Logo_for_MYLAPS_Sports_Timing.jpg" alt="Application Logo">
                </div>
                <div class="item text-center">
                    <img class="carousel-image" src="https://i815.photobucket.com/albums/zz74/victor_the_crab/Classic%20Gas%20Station%20Logos/MarathonLogo.png" alt=" Event Sponsor">
                </div>
                <div class="item ">
                    <img class="carousel-image" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Orlen_Warsaw_Marathon_2014_al._KEN.JPG" alt="Event Photo">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <h3>
        @R.LatestEvents
    </h3>
    <div class="row">
        @Html.Action("LatestEvents", "Event")
    </div>
</div>