﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.carousel-image{
    max-height: 350px !important;
}
.carousel-slider{
    height:350px;
}
.photos-tab-image{
    height: auto;
    width: 250px;
    border: 25px;
}
.tab-pane > div{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
/* Allows images centered in carousel*/
.carousel-inner > .item > img {
    margin: 0 auto;
}